.tweeter-header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #bdb108;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding-top:120px;
}

.profileImg {
  height: 100%;
  margin: 5px;
}

.headerName {
  display: flex;
  margin: -30px 5px 5px 5px;
}

.firstName{
  font-weight: bold;
}

.lastName{
  font-weight: bold;
}

