.tweeter-header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cfb222;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding-top:120px;
}

.headerName {
  display: flex;
}

.firstName{
  font-weight: bold;
}

.lastName{
  font-weight: 300;
}

