.navBar {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: #4056A1;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  width: 100%;
  top:0;
}

.logo {
  font-family: "Bungee", sans-serif;
  margin: 2vh;
  font-size: 3.5vh;
}

.navText {
  display:flex;
  font-size: 3vh;
  margin: 2vh;
  color: #bdccff;
}

.navText:hover {
  color: #ffffff;
}

.navBold {
 font-weight: bold;
}
