.navBar {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  width: 100%;
  top:0;
}

.logo {
  font-family: "Bungee", sans-serif;
  margin: 1.5em;
  font-size: 150%;
}

.navText {
  display:flex;
  margin: 1.5em;
  color: #bebebe;
}

.navText:hover {
  color: #ffffff;
}

.navBold {
 font-weight: bold;
}