#tweet-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh 0 0 0;
  color: #545149;
  font-weight: 400;
}

.tweet {
  height: 20vh;
  width:80vw;

  border: 5px solid #545149;
  background-color: #f4f1ec;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 1vh 0;
  font-size: 1vh;
}

.tweet:hover {
  box-shadow: 0.5vh 0.5vh;
  background-color: #fffbf6;
}

/* header -----------------------------------------*/
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;

  height: 27.5%;
  margin: 1.5vh 0.75vh 0.75vh 0.75vh;
}

.tweet-user {
  display: flex;
  justify-content:flex-start;
  align-items: center;

  height: 100%;
  width: 50%;
}

.tweet-user-image {
  height: 100%;
  margin: 1vh 2vh 1vh 1vh;
}

.tweet-user-name {
  font-size: 2.25em; 
}

.tweet-user-handle {
  font-size: 2em; 
  margin: 0 0.75vh;
  color:  #f4f1ec;
}
.tweet:hover .tweet-user-handle {
  color:#545149;
}

/* text -----------------------------------------*/

.tweet-text-container {
  height: 30%;
  width: 95%;
  margin: -1vh 2vh 2vh 2vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tweet-text {
  word-break:break-all;
  font-size: 2.25em;
}

/* footer -----------------------------------------*/

.tweet-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: space-between;
  height:25%;
}

.tweet-footer-line {
  align-self: center;
  border:0.2vh solid #545149;
  background-color: #545149;
  width:98%;
  margin: 0 0 0 0;
}

.tweet-footer-content {
  display: flex;
  justify-content: space-between;
  height:100%;
  align-items: flex-start;
  margin: 0 0.1vh 0.1vh 0.1vh;
}

.tweet-time-stamp {
  font-size: 1.75em;
  margin: 1vh;
}

.tweet-options {
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
  height:100%;
  margin: .5vh 1vh;
}

.tweet-option {
  height: 50%;
  margin: 0.25vh 0.5vh;
}

